# requirements.txt
flask==2.3.3
TTS==0.22.0
gunicorn
pydub
gTTS
python-dotenv
SpeechRecognition
google-cloud-texttospeech
soundfile
torch
torchvision
python-multipart
fastapi
uvicorn
openai
anthropic
validators
python-jose
passlib
